@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?21190277');
  src: url('../font/fontello.eot?21190277#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?21190277') format('woff2'),
       url('../font/fontello.woff?21190277') format('woff'),
       url('../font/fontello.ttf?21190277') format('truetype'),
       url('../font/fontello.svg?21190277#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?21190277#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-attention-alt-1:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-heart-line:before { content: '\e802'; } /* '' */
.icon-download:before { content: '\e803'; } /* '' */
.icon-album:before { content: '\e804'; } /* '' */
.icon-up-open-1:before { content: '\e805'; } /* '' */
.icon-plus:before { content: '\e806'; } /* '' */
.icon-send:before { content: '\e807'; } /* '' */
.icon-pencil2:before { content: '\e808'; } /* '' */
.icon-blank-page:before { content: '\e809'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-cog-1:before { content: '\e80b'; } /* '' */
.icon-down-open-1:before { content: '\e80c'; } /* '' */
.icon-left-open-1:before { content: '\e80d'; } /* '' */
.icon-down-micro:before { content: '\e80e'; } /* '' */
.icon-delete:before { content: '\e80f'; } /* '' */
.icon-time:before { content: '\e810'; } /* '' */
.icon-close:before { content: '\e811'; } /* '' */
.icon-check-1:before { content: '\e812'; } /* '' */
.icon-quiz:before { content: '\e813'; } /* '' */
.icon-all:before { content: '\e814'; } /* '' */
.icon-play:before { content: '\e815'; } /* '' */
.icon-dot:before { content: '\e816'; } /* '' */
.icon-link:before { content: '\e817'; } /* '' */
.icon-move-arrows:before { content: '\e818'; } /* '' */
.icon-push-pin:before { content: '\e819'; } /* '' */
.icon-push-pin-line:before { content: '\e81a'; } /* '' */
.icon-edit:before { content: '\e81b'; } /* '' */
.icon-check:before { content: '\e81c'; } /* '' */
.icon-right-open-1:before { content: '\e81d'; } /* '' */
.icon-005-copy:before { content: '\e81e'; } /* '' */
.icon-down-dir-1:before { content: '\e81f'; } /* '' */
.icon-up-dir:before { content: '\e820'; } /* '' */
.icon-up-micro:before { content: '\e821'; } /* '' */
.icon-link-02:before { content: '\e822'; } /* '' */
.icon-zoom-in:before { content: '\e823'; } /* '' */
.icon-left-big:before { content: '\e824'; } /* '' */
.icon-left-open-2:before { content: '\e825'; } /* '' */
.icon-left:before { content: '\e826'; } /* '' */
.icon-newdoc:before { content: '\e827'; } /* '' */
.icon-left-small:before { content: '\e828'; } /* '' */
.icon-export:before { content: '\e829'; } /* '' */
.icon-folder-open:before { content: '\e82a'; } /* '' */
.icon-lock-filled:before { content: '\e82b'; } /* '' */
.icon-to-start:before { content: '\e82c'; } /* '' */
.icon-to-end:before { content: '\e82d'; } /* '' */
.icon-board-copy:before { content: '\e82e'; } /* '' */
.icon-group1:before { content: '\e82f'; } /* '' */
.icon-group2:before { content: '\e830'; } /* '' */
.icon-pen:before { content: '\e831'; } /* '' */
.icon-eraser:before { content: '\e832'; } /* '' */
.icon-drawing:before { content: '\e833'; } /* '' */
.icon-prev-btn:before { content: '\e834'; } /* '' */
.icon-next-btn:before { content: '\e835'; } /* '' */
.icon-trash:before { content: '\e836'; } /* '' */
.icon-palette:before { content: '\e837'; } /* '' */
.icon-music:before { content: '\e838'; } /* '' */
.icon-volume-up:before { content: '\e839'; } /* '' */
.icon-plus-circle:before { content: '\e83a'; } /* '' */
.icon-minus-circle:before { content: '\e83b'; } /* '' */
.icon-qr-code:before { content: '\e83c'; } /* '' */
.icon-eye:before { content: '\e83d'; } /* '' */
.icon-eye-none:before { content: '\e83e'; } /* '' */
.icon-record:before { content: '\e83f'; } /* '' */
.icon-mail:before { content: '\e840'; } /* '' */
.icon-post-1:before { content: '\e841'; } /* '' */
.icon-play-2:before { content: '\e842'; } /* '' */
.icon-stop-1:before { content: '\e843'; } /* '' */
.icon-pause-1:before { content: '\e844'; } /* '' */
.icon-plus-big:before { content: '\e845'; } /* '' */
.icon-invitation:before { content: '\e846'; } /* '' */
.icon-plus-mini:before { content: '\e847'; } /* '' */
.icon-circle-w:before { content: '\e848'; } /* '' */
.icon-circle-b:before { content: '\e849'; } /* '' */
.icon-triangle-w:before { content: '\e84a'; } /* '' */
.icon-triangle-b:before { content: '\e84b'; } /* '' */
.icon-square-w:before { content: '\e84c'; } /* '' */
.icon-square-b:before { content: '\e84d'; } /* '' */
.icon-line:before { content: '\e84e'; } /* '' */
.icon-preview:before { content: '\e84f'; } /* '' */
.icon-background:before { content: '\e850'; } /* '' */
.icon-pen-user-01:before { content: '\e851'; } /* '' */
.icon-align-high:before { content: '\e852'; } /* '' */
.icon-align-low:before { content: '\e853'; } /* '' */
.icon-text:before { content: '\e854'; } /* '' */
.icon-megaphone:before { content: '\e855'; } /* '' */
.icon-naverblog:before { content: '\e856'; } /* '' */
.icon-art-pencil:before { content: '\e857'; } /* '' */
.icon-eraser-02:before { content: '\e858'; } /* '' */
.icon-thickness:before { content: '\e859'; } /* '' */
.icon-shapes:before { content: '\e85a'; } /* '' */
.icon-ccw:before { content: '\e85b'; } /* '' */
.icon-share:before { content: '\e85c'; } /* '' */
.icon-tab:before { content: '\e85d'; } /* '' */
.icon-sync:before { content: '\e85e'; } /* '' */
.icon-speech-bubble:before { content: '\e85f'; } /* '' */
.icon-arrow-right2:before { content: '\e860'; } /* '' */
.icon-arrow-left2:before { content: '\e861'; } /* '' */
.icon-arrow-left1:before { content: '\e862'; } /* '' */
.icon-arrow-right1:before { content: '\e863'; } /* '' */
.icon-globe:before { content: '\e864'; } /* '' */
.icon-more:before { content: '\e865'; } /* '' */
.icon-note-beamed:before { content: '\e866'; } /* '' */
.icon-edit-02:before { content: '\e867'; } /* '' */
.icon-mission:before { content: '\e868'; } /* '' */
.icon-help:before { content: '\e869'; } /* '' */
.icon-text-gif:before { content: '\e86a'; } /* '' */
.icon-text-video:before { content: '\e86b'; } /* '' */
.icon-text-show:before { content: '\e86c'; } /* '' */
.icon-cw:before { content: '\e86d'; } /* '' */
.icon-camera:before { content: '\e86e'; } /* '' */
.icon-guest:before { content: '\e87b'; } /* '' */
.icon-chart:before { content: '\e87c'; } /* '' */
.icon-user:before { content: '\e87d'; } /* '' */
.icon-view:before { content: '\e87e'; } /* '' */
.icon-post:before { content: '\e87f'; } /* '' */
.icon-question_mark:before { content: '\e881'; } /* '' */
.icon-big_x:before { content: '\e882'; } /* '' */
.icon-service:before { content: '\e884'; } /* '' */
.icon-report:before { content: '\e885'; } /* '' */
.icon-studio:before { content: '\e886'; } /* '' */
.icon-mypage:before { content: '\e887'; } /* '' */
.icon-home-menu:before { content: '\e888'; } /* '' */
.icon-standby:before { content: '\e889'; } /* '' */
.icon-contents-menu:before { content: '\e88a'; } /* '' */
.icon-customer:before { content: '\e88b'; } /* '' */
.icon-group-menu:before { content: '\e88c'; } /* '' */
.icon-video-record:before { content: '\e88d'; } /* '' */
.icon-filter:before { content: '\e88e'; } /* '' */
.icon-quiz-01:before { content: '\e906'; } /* '' */
.icon-down-open:before { content: '\f004'; } /* '' */
.icon-up-open:before { content: '\f005'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-location:before { content: '\f031'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-attention-alt-2:before { content: '\f12a'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-file-audio:before { content: '\f1c7'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
